/*single_products page*/
.singleArticle {
  margin: 0 35px 0 35px;
}
.productPresentation {
  display: flex;
}
.bigImageProduct {
  width: 50%;
}
.bigImageProduct img {
  width: 100%;
}
.informationProduct {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.contentProduct {
  display: flex;
  flex-direction: column;
}
.informationProduct .contentProduct h1 {
  font-size: 24px;
  font-family: notoSJP;
  text-transform: uppercase;
  color: #FF0000;
  margin: 0 auto;
  text-align: center;
}
.informationProduct .contentProduct > p {
  font-size: 18px;
  margin: 0 auto;
}
.informationProduct .contentProduct p:nth-child(2) {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.imagesProduct {
  display: flex;
  justify-content: center;
  margin-block-start: auto;
}
.smallImageProduct {
  width: 33%;
  margin-right: 15px;
}
.smallImageProduct:last-child{
  margin-right: 0;
}
.smallImageProduct img {
  width: 100%;
}
.submitCart {
  margin: 0 auto;
  background-color: rgba(0, 0,0, 0.5);
}
.submitCartI {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding: 10px;
}
.submitCartO {
  color: black;
}

.allCommentsPart {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 90px;
}
.allCommentUser {
  margin-top: 15px;
  text-align: left;
}
.formComment {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.formComment input, .formComment textarea {
  padding: 12px;
  font-size: 15px;
  background-color: #F9F9F9;
  border: 1px solid #F2F2F2;
  margin-bottom: 10px;
}
.commentDate {
  font-family: monospace;
  font-style: oblique;
  font-weight: 100;
  font-size: 13px;
  margin-bottom: 3px;
}
.fa-star:before {
  color: gold;
}
.commentUsername {
  color: #47B5FF;
  text-transform: capitalize;
  margin: 5px 0 5px 0;
  font-size: 14px;
}
.commentComment {
  text-transform: capitalize;
  margin: 15px 0 15px 0;
  font-size: 15px;
  font-weight: 500;
  font-family: monospace;
}

/*Responsive part*/
@media screen and (max-width: 1250px) {
  .productPresentation {
    flex-direction: column;
    align-items: center;
  }
  .informationProduct {
    margin-left: 0;
    width: 70%;
  }
  .informationProduct .contentProduct h1 {
    padding-top: 10px;
    font-size: 30px;
  }
  .informationProduct .contentProduct > p {
    font-size: 20px;
  }
  .informationProduct .contentProduct p:nth-child(2) {
    font-size: 18px;
  }
  .bigImageProduct {
    width: 90%;
  }
  .smallImageProduct {
    width: 33%;
    margin-right: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 800px) {
  .informationProduct {
    width: 80%;
  }
  .informationProduct .contentProduct h1, .titleComment {
    font-size: 24px; /*-20%*/
  }
  .informationProduct .contentProduct > p {
    font-size: 18px; /*-10%*/
  }
  .informationProduct .contentProduct p:nth-child(2) {
    font-size: 16px; /*-20%*/
  }
  .bigImageProduct {
    width: 90%; /*+10%*/
  }
  .smallImageProduct {
    width: 33%;
    margin-right: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 650px) {
  .informationProduct {
    width: 90%;
  }
  .informationProduct .contentProduct h1, .titleComment {
    padding-top: 10px;
    font-size: 20px;
  }
  .informationProduct .contentProduct > p {
    font-size: 16px;
  }
  .informationProduct .contentProduct p:nth-child(2) {
    font-size: 14px; /*-20%*/
  }
  .smallImageProduct {
    width: 33%;
    margin-right: 15px;
    padding-top: 15px;
  }
  .titleRandom {
    margin-top: 10px;
  }
}
@media screen and (max-width: 550px) {
  .informationProduct {
    width: 90%;
  }
  .informationProduct .contentProduct h1, .titleComment {
    padding-top: 10px;
    font-size: 16px;
  }
  .smallImageProduct {
    width: 33%;
    margin-right: 15px;
    padding-top: 15px;
  }
  .informationProduct .contentProduct > p {
    font-size: 14px;
  }
  .informationProduct .contentProduct p:nth-child(2) {
    font-size: 12px; /*-20%*/
  }
}
/*End of single_products page*/